In [1]:
import pandas as pd
import gseapy as gp
import os

In [4]:
signature = pd.read_csv('GSE146409.Endothelium_Signature.txt',delimiter='\t',index_col=0)
signature

,LVECt,Other,LSEC,Hepatocytes,LVEC,Carcinoma
NAME,,,,,,
A1BG,1.000000,1.000000,1.000000,754.203028,1.000000,1.000000
A1CF,1.000000,1.000000,1.000000,276.680232,1.000000,227.607471
AADAC,1.000000,1.000000,1.000000,245.206917,1.000000,1.000000
ABAT,1.000000,1.000000,1.000000,229.257726,1.000000,1.000000
ABCC3,1.000000,1.000000,1.000000,1.000000,1.000000,271.281048
...,...,...,...,...,...,...
ZNF419,1.000000,1.000000,1.000000,241.255420,474.613253,290.634103
ZNF511.PRAP1,1.000000,1.000000,1.000000,322.351170,1.000000,1.000000
ZNF706,1.000000,1.000000,1.000000,75.835855,1.000000,182.249864
ZNHIT1,216.897536,1.000000,1.000000,126.101257,1.000000,159.200771
ZYX,277.972216,432.908079,345.164682,1.000000,224.144964,1.000000

In [5]:
cell_types = list(signature.columns.values)
cell_types

['LVECt', 'Other', 'LSEC', 'Hepatocytes', 'LVEC', 'Carcinoma']

In [6]:
library = 'WikiPathway_2021_Human'

In [7]:
try:
    os.mkdir(library)
except:
    pass

for cell_type in cell_types:
    signature_matrix = signature.filter([cell_type])
    signature_matrix = signature_matrix[signature_matrix[cell_type] != 1]
    signature_gene_list = list(signature_matrix.index.values)
    enr = gp.enrichr(gene_list=signature_gene_list, gene_sets=library,
                 organism='Human', description='test_name',
                 outdir='%s/%s'%(library,cell_type),
                 # no_plot=True,
                 cutoff=0.5 # test dataset, use lower value from range(0,1)
                )

In [8]:
signature_matrix

              Carcinoma
NAME
A1CF         227.607471
ABCC3        271.281048
ABHD2        218.754367
ABLIM1       208.517086
AC002094.3  1303.885000
...                 ...
ZNF207       170.102327
ZNF302       149.105825
ZNF419       290.634103
ZNF706       182.249864
ZNHIT1       159.200771

[796 rows x 1 columns]