In [1]:
import pandas as pd
import gseapy as gp
import os

In [2]:
signature = pd.read_csv('GSE146409.Mesenchyme_Signature.txt',delimiter='\t',index_col=0)
signature

,Other,Hepatocytes,Proliferation,vSMC,Stellate cells,CAFs,Pericytes
NAME,,,,,,,
A1BG,1.000000,645.967402,1.000000,1.0,1.000000,1.000000,1.0
A1CF,1.000000,283.582595,1.000000,1.0,1.000000,1.000000,1.0
AADAC,1.000000,268.004271,1.000000,1.0,1.000000,1.000000,1.0
ABAT,1.000000,221.694334,1.000000,1.0,1.000000,1.000000,1.0
ABCC9,1.000000,1.000000,1.000000,1.0,332.085401,1.000000,1.0
...,...,...,...,...,...,...,...
ZNF419,302.173635,265.675021,256.852124,1.0,1.000000,1.000000,1.0
ZNF511.PRAP1,1.000000,295.823975,1.000000,1.0,1.000000,1.000000,1.0
ZNF90,376.491234,85.528489,426.283793,1.0,340.163364,263.127299,1.0
ZNHIT1,1.000000,126.909131,1.000000,1.0,1.000000,1.000000,1.0
ZWINT,1.000000,1.000000,122.034502,1.0,1.000000,1.000000,1.0

In [3]:
cell_types = list(signature.columns.values)
cell_types

['Other',
 'Hepatocytes',
 'Proliferation',
 'vSMC',
 'Stellate cells',
 'CAFs',
 'Pericytes']

In [4]:
library = 'WikiPathway_2021_Human'

In [5]:
try:
    os.mkdir(library)
except:
    pass

for cell_type in cell_types:
    signature_matrix = signature.filter([cell_type])
    signature_matrix = signature_matrix[signature_matrix[cell_type] != 1]
    signature_gene_list = list(signature_matrix.index.values)
    enr = gp.enrichr(gene_list=signature_gene_list, gene_sets=library,
                 organism='Human', description='test_name',
                 outdir='%s/%s'%(library,cell_type),
                 # no_plot=True,
                 cutoff=0.5 # test dataset, use lower value from range(0,1)
                )

In [6]:
signature_matrix

              Pericytes
NAME
AC018523.2   381.788105
AC068580.4   464.514495
AC104109.3   325.527153
ACTA2       5509.312176
ACTN1        752.406092
...                 ...
YME1L1       497.537653
YPEL5        279.061448
ZBTB20       526.943556
ZBTB38       258.427013
ZFHX3        295.408024

[352 rows x 1 columns]