In [1]:
import pandas as pd
import gseapy as gp
import os

In [2]:
signature = pd.read_csv('GSE156337.Immune_Signature.txt',delimiter='\t',index_col=0)
signature

,CD8+ Cells,Tregs,Non-immune cluster,Nk Cells,CD4+ Cells,B Cells,Myeloid,Mast Cells
NAME,,,,,,,,
A1BG,1.000000,1.000000,1.000000,1.000000,1.000000,355.996392,1.000000,1.000000
A2M,1.000000,1.000000,965.036350,1.000000,1.000000,1.000000,241.755819,1.000000
AAK1,226.298174,282.066568,1.000000,250.767258,343.958300,1.000000,1.000000,1.000000
AAMDC,1.000000,1.000000,234.314089,1.000000,1.000000,1.000000,1.000000,1.000000
ABCF1,235.116400,218.119665,1.000000,284.366484,1.000000,219.816178,168.244305,201.626495
...,...,...,...,...,...,...,...,...
ZNF90,1.000000,214.346412,1.000000,255.087934,258.097654,163.520269,359.640722,1.000000
ZNHIT3,209.351575,183.972824,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
ZNRD1,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,429.160024
ZRANB2,1.000000,168.445770,1.000000,1.000000,1.000000,237.847042,140.687284,1.000000
ZYX,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,164.735254,1.000000

In [3]:
cell_types = list(signature.columns.values)
cell_types

['CD8+ Cells',
 'Tregs',
 'Non-immune cluster',
 'Nk Cells',
 'CD4+ Cells',
 'B Cells',
 'Myeloid',
 'Mast Cells']

In [4]:
library = 'WikiPathway_2021_Human'

In [5]:
try:
    os.mkdir(library)
except:
    pass

for cell_type in cell_types:
    signature_matrix = signature.filter([cell_type])
    signature_matrix = signature_matrix[signature_matrix[cell_type] != 1]
    signature_gene_list = list(signature_matrix.index.values)
    enr = gp.enrichr(gene_list=signature_gene_list, gene_sets=library,
                 organism='Human', description='test_name',
                 outdir='%s/%s'%(library,cell_type),
                 # no_plot=True,
                 cutoff=0.5 # test dataset, use lower value from range(0,1)
                )

In [6]:
signature_matrix

            Mast Cells
NAME
ABCF1       201.626495
ABHD2       514.152703
AC020571.3  659.097977
ACAP1        79.156697
ACSL4       151.784406
...                ...
ZMAT2       224.233567
ZNF207      200.900784
ZNF326      248.741984
ZNF430      241.278041
ZNRD1       429.160024

[508 rows x 1 columns]