In [1]:
import pandas as pd
import gseapy as gp
import os

In [4]:
signature = pd.read_csv('GSE156337.Non-immune_Signature.txt',delimiter='\t',index_col=0)
signature

,Immune cluster,Hepatocytes,Fibroblasts,Endothelial Cells,Bi-Potent Cells
NAME,,,,,
A1BG,1.000000,394.718704,133.119284,1.000000,1.000000
A1CF,1.000000,338.925217,1.000000,1.000000,125.599624
A2M,1.000000,289.874945,791.186569,1602.175719,1.000000
AADAC,1.000000,253.074758,1.000000,1.000000,1.000000
AAK1,248.640734,1.000000,127.281322,1.000000,106.442756
...,...,...,...,...,...
ZNF638,1.000000,1.000000,143.976495,1.000000,1.000000
ZNF655,1.000000,1.000000,1.000000,1.000000,180.795018
ZNF90,260.022406,1.000000,141.204997,1.000000,136.586956
ZNHIT3,1.000000,1.000000,164.012256,1.000000,1.000000
ZRANB2,1.000000,1.000000,221.306447,299.605097,160.348842

In [5]:
cell_types = list(signature.columns.values)
cell_types

['Immune cluster',
 'Hepatocytes',
 'Fibroblasts',
 'Endothelial Cells',
 'Bi-Potent Cells']

In [6]:
library = 'WikiPathway_2021_Human'

In [7]:
try:
    os.mkdir(library)
except:
    pass

for cell_type in cell_types:
    signature_matrix = signature.filter([cell_type])
    signature_matrix = signature_matrix[signature_matrix[cell_type] != 1]
    signature_gene_list = list(signature_matrix.index.values)
    enr = gp.enrichr(gene_list=signature_gene_list, gene_sets=library,
                 organism='Human', description='test_name',
                 outdir='%s/%s'%(library,cell_type),
                 # no_plot=True,
                 cutoff=0.5 # test dataset, use lower value from range(0,1)
                )

In [8]:
signature_matrix

         Bi-Potent Cells
NAME
A1CF          125.599624
AAK1          106.442756
ABCB1         508.656794
ABCC3         187.426207
ABHD11        136.520841
...                  ...
ZNF518A       136.883556
ZNF593        264.712722
ZNF655        180.795018
ZNF90         136.586956
ZRANB2        160.348842

[881 rows x 1 columns]